footer {
	padding-top: 47px;
	padding-bottom: 47px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2.002px;
	text-transform: uppercase;
	background-color: #24242b;
}

footer p {
	text-align: center;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
	text-decoration: none;
}

footer .inlink {
	color: #8bd5ff;
}

footer .inlink:hover {
	color: #8bd5ff;
}

footer img {
	margin-bottom: 20px;
}

/* BREAKPOINTS */
@media (min-width: 768px) {
	footer p {
		margin: 0;
	}

	.footer-info-container {
		display: flex;
		justify-content: space-between;
	}

	footer img {
		margin-bottom: 0;
	}
}
