header {
	background-color: #24242b;
}

.navbar {
	padding: 12px 0;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar-dark .navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	padding: 9px 23px;
	font-size: 18px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	border: 1px solid #fff;
}

.navbar-collapse {
	padding-top: 27px;
	padding-bottom: 30px;
}

.navbar-webery .navbar-nav .nav-link {
	position: relative;
	padding: 10px 37px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2.996px;
	text-align: center;
	text-transform: uppercase;
}

.bordered:before,
.bordered:after {
	content: '';
	position: absolute;
	left: 50%;
	width: calc(100% - 60px);
	height: 1px;
	background-color: #fff;
	opacity: 0;
	transform: translate(-50%, 0);
	transition: all 0.3s;
}

.bordered:before {
	top: 0px;
	transform: translate(-50%, 10px);
}

.bordered:after {
	bottom: 0px;
	transform: translate(-50%, -10px);
}

.bordered:hover:before,
.bordered:hover:after {
	opacity: 1;
	transform: translate(-50%, 0px);
}

.nav-item:last-child .nav-link {
	letter-spacing: 0;
}

.dropdown-toggle::after {
	margin-left: 5px;
	width: 9px;
	height: 6px;
	vertical-align: 1px;
	background-image: url('../assets/img/header-arrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
}

.dropdown-menu {
	right: 0;
	min-width: auto;
	font-size: 14px;
	text-align: center;
	border: none;
	border-radius: 0;
}

.dropdown-item {
	padding: 0;
	color: #3e3e48;
}

/* BREAKPOINTS */
@media (min-width: 768px) {
	.nav-item:last-child .nav-link {
		padding-right: 0;
		padding-left: 31px;
	}
}
